[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = git://github.com/jfryman/puppet-nginx.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
